<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			Technology
		</a>
		<a class="panel-block">
			Science
		</a>
		<a class="panel-block">
			Art
		</a>
		<a class="panel-block">
			Music
		</a>
		<a class="panel-block">
			Film
		</a>
		<a class="panel-block">
			Fashion
		</a>
	</nav>
</div>